@import "../constants/colors.constants";

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.text-color-danger {
    color: $color-danger;
}
.text-color-warning {
    color: $color-warning;
}
.text-color-success {
    color: $color-success;
}
