@import "./constants/border.constants";
@import "./constants/colors.constants";
@import "./constants/fonts.constants";
@import "./helpers/function.helpers";
@import "./helpers/margin.helpers";
@import "./helpers/mixins.helpers";
@import "./helpers/text.helpers";
@import "anchors";
@import "./buttons";
@import "./forms";
@import "./titles";

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: $font-size-root;
    font-family: "Roboto", sans-serif;
    color: $gray_800;
    background-color: $color-background;
}

small {
    font-size: $font-size-small;
}
